<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static  "addons/css/styles.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Mis perris</title>
</head>
<body>
  <!-- Header -->
  <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a href="/" class="navbar-brand d-flex w-50 mr-auto">
      <img src="{% static "addons/img/logo.png" %}" width="178" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#main-content">Quienes somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#galery">Adopción</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#footer">Contacto</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/cerrarsesion">Cerrar Sesion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login/">Ingresar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register/">Postular</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>

<section id="main-content">
    <div class="container" id="postular">
        <div class="row">
          <div class="col-md-12">
              <h1 style=>Inicia Sesión</h1>
          </div>
          <div class="col-md-12">
              <p class="subtitle">¡Inicia sesión y comienza a adoptar!</p>
          </div>
        </div> 
        <form method="POST" class="form-signin" action="{% url "iniciar" %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <label for="inputRut"  class="sr-only">Rut</label>
                    <input type="text" id="inputRut" name="rut" class="form-control" placeholder="Ingresa tu rut..." required autofocus> 
                </div>
              </div>
            <div class="form-row">
                <div class="col">
                    <label for="inputPassword" class="sr-only">Contraseña</label>
                    <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Ingresa tu password..." required>
                </div>
            </div></br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button></br>
          <a href="/password/recovery/">¿Olvidaste tu contraseña?</a>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </form>
      </div>   
</section>
    

<!-- JS Extras -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<!-- JS Mis perris -->

    
</body>
</html>